
<div class="page-header">
        <h1>Mes Notes</h1>
<div class="col-lg-5">
          <div class="list-group">
            <a 
               class="list-group-item" 
               *ngFor ='let note of notes' 
               (click) = "onSelect(note)">
               <div class = "row">
              <div class = "col-lg-5">
              <h4 class="list-group-item-heading">{{note.nom}}</h4>  
              <p class="list-group-item-text">{{note.date}}</p> 
            </div>
            </div>
            </a>
          </div>
        </div><!-- /.col-sm-4 -->
<div class = "col-sm-6">
<app-notes-details [note] = "noteSelect"></app-notes-details>
</div>
</div>